@font-face {
    font-family: 'gmarket_sansmedium';
    src: url('fonts/gmarketsansmedium-webfont.woff2') format('woff2'),
         url('fonts/gmarketsansmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gmarket_sansbold';
    src: url('../fonts/gmarketsansbold-webfont.woff2') format('woff2'),
         url('../fonts/gmarketsansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}