h1 {
    font-size: 36px;
  }

  h2:not(.title) {
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;

  }

  .separator {
    top: 0%;
    left: 50%;
    height: 10%;
  }

  .title {
    bottom: 10%;
    font-size: 20px;
  }

  #about {
    height: 75vh;
  }

  .container p {
    position: relative;
    top: 30%;
    font-size: .8rem;
    margin-right: 5%;
  }

  .container img {
    position: relative;
    top: 30%;
    width: 150px;
  }

  
  .audio-player {
    position: relative;
    bottom: 5%;
  }

  .play_pause {
    left: 4%;
  }

  .play_pause img {
    width: 30px !important;
  }

  .audio-player p {
    left: 11%;
    font-size: 1rem;
    top: -30px;
  }

  .project-box {
    min-width: 175px;
    min-height: 175px;
    margin: auto;
    border-radius: 40px;
  }
  
  .project-box:hover {
    border-right: solid 20px;
    border-top: solid 20px;
  
  }

  .img-text {
    top: 200px !important;
  }


  .progress-container img {
    width: 35px;
  }

  

  .Project-title a {
    position: relative;
    top: 40%;
    left: 10%;
    width: 230px;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: roboto;
    transition: all .25s ease;
  }

  .Project-title img {
    position: relative;
    top: 15px;
    left: 5%;
    height: 30px;
    width: 30px;
  }

  .link_box img {
    float: none;
    height: 50px;
    width: 50px;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  
  }

  .link_box {
    width: 80%;
  }

  .link_box div h3 {
    color: white;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
  }