h1 {
    font-size: 36px;
  }

  h2:not(.title) {
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;

  }

  .separator {
    top: 0%;
    left: 50%;
    height: 10%;
  }

  .title {
    bottom: 10%;
    font-size: 20px;
  }

  #about {
    height: 75vh;
  }

  .container p {
    position: relative;
    top: 30%;
    font-size: .8rem;
    margin-right: 5%;
  }

  .container img {
    position: relative;
    top: 30%;
    width: 150px;
  }

  
  .audio-player {
    position: relative;
    bottom: 5%;
  }

  .play_pause {
    left: 4%;
  }

  .play_pause img {
    width: 30px !important;
  }

  .audio-player p {
    left: 11%;
    font-size: 1rem;
  }

  .project-box {
    min-width: 175px;
    min-height: 175px;
    margin: auto;
    border-radius: 40px;
  }
  
  .project-box:hover {
    border-right: solid 20px;
    border-top: solid 20px;
  
  }

  .img-text {
    top: 200px !important;
  }
