nav {
    display: none !important;
  }

  .separator {
    top: 20%;
    height: 20% ;
    transform: rotate(90deg);
  }

  .title {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%;
  }


  .nom {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 30%;
    width: 70%;
  }

  .prenom {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 30%;
    width: 70%;
  }
  h1 {
    width: 100%;
  }

  h2:not(.title) {
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    padding: 0;
    text-align: center;
  }

  #about {
    height: 100vh;
  }

  .content {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; 
  }

  .container p {
    top: 50%;
    font-size: .75rem;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 80%;
  }

  .container img {
    width: 250px;
    margin: 0;
    margin-right: 0;
    top: 50%;
  }

    
  .audio-player {
    position: relative;
    top: 20%;
  }

  .play_pause {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .play_pause img {
    margin-bottom: 20px;
    top: 0;
    bottom: 0;
    width: 50px !important;
  }

  .audio-player p {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: break-word;
    text-align: center;
    font-size: 1rem;
  }

  .project-box {
    min-width: 225px;
    min-height: 225px;
    margin-top: 50px;
    border-radius: 40px;
  }
  
  .project-box:hover {
    border-right: solid 20px;
    border-top: solid 20px;
  
  }

  #projects .content {
    position: relative;
    top: 20%;
    margin-top: 100px;
  }

  #projects {
    height: 150vh;
  }

  .img-text {
    top: 240px !important;
    width: 100% !important;
  }


  .progress-container img {
    width: 35px;
    margin-right: 15px;
    top: 0;
  }

  #skills .content {
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin: 0;
  }

  .progress-container {
    display: flex;
    flex : 1;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  #skills .content {
    height: 65%;
  }

  #skills h2 {
    margin-bottom: 20%;
  }

  .burger {
    display: block;
    position: fixed;
    z-index: 1;
  }


  .burger .icon {
    position: relative;
    left: 60px;
    top: 60px;
    border-radius: 20px;
    background-color: black;
  }
  .burger .icon img {
    float: left;
    z-index: 2;
    position: relative;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;

  }

  .burger-content {
    position: fixed;
    height: 200px;
    padding-top: 10%;
    left: 6%;
    top: 2%;
    position: fixed;
    display: none;
    background-color: black;
    border: solid 3px white;
    border-radius: 20px;   
  }

  .burger-content ul {
    position: relative;
    top: 5px;
  }

  .burger-content ul li a {
    color: white;
    text-decoration: none;  

  }

  .burger-content img {
    width: 60px;
    height: 60px;
    right: 80px;
    margin : 0;
    padding: 0;
    transform: translateY(-50%);

  }
  .burger-content ul li {
    list-style: none;
  }


  .Project-title {
    display: flex;
    flex-direction: column;
  }
  .Project-title a {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    color: white;
    font-family: roboto;
    transition: all .25s ease;
    border: solid 2px white;
    border-radius: 5px;
    margin-top: 20px;
    justify-content: center;

  }



  .Project-title img {
  display: none;
  }

