body {
    margin: 0;
    background-color: black;
    color: white;
}

.image_projet img:not(.logo_lien) {
    top: 50% !important;
    transform: translateY(-50%);
    left: 5%;
    z-index: 2;
    position: fixed;
    width: 500px;
    border-radius: 50px;
}


.liens_projet  {
    position: fixed;
    top: 90%;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;

}

.phone-only {
    display: flex;
    flex-direction: row;
    display: none;

    width: 50%;
    margin: 0;
    align-items: center;
}

.bouton-lien {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: black;
    border: solid 1px white;
    text-decoration: none;
    border-radius: 5px;
    transition: all .5s;
}

.bouton-lien p {
    font-family: 'Roboto';
    font-size: 1.2rem;
    text-align: center;
    color: white;
    transition: all .5s;

}

.bouton-lien:hover {
    border-color: #ffb6c1;
    filter: drop-shadow(0px 0px 5px #ffb6c1);
}

.bouton-lien:hover p {
    color: #ffb6c1;
}

.logo_lien{
    width: 25px !important;
    height: 25px;
    margin-right: 10px !important;
    transition: all .5s;

}

.bouton-lien:hover .logo_lien {
    filter: brightness(0) saturate(100%) invert(73%) sepia(8%) saturate(2151%) hue-rotate(309deg) brightness(110%) contrast(108%)
}

.container {
    position: absolute;
    top: 10%;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
    left: 30%;
    margin-bottom: 0;
}

.container img {
    width: 500px;
    margin: 0;
    margin-right: 0;
    top: 50%;

}

.container_text .texte {
    font-family: 'Roboto';

}

.container_text a {
    color: #ffb6c1;
}

.container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-left: 50px;
}

.container_text h1 {
    font-family: 'gmarket_sansbold';
    font-size: 4rem;
    margin-bottom: 0;
}

.container_text h2 {
    font-family: 'gmarket_sansbold';
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0;
}

.technos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-shrink: 0;
    width: 100%;
    height: 60px;
}

.technos a {
    margin-right: 5%;
}
.technos img {
    width: 60px;;
    height: 60px;
    top: 50%;
    transition: all .5s ;
    filter: none;
}

.technos img:hover {
    filter: brightness(0) saturate(100%) invert(73%) sepia(8%) saturate(2151%) hue-rotate(309deg) brightness(110%) contrast(108%) drop-shadow(0px 0px 13px #ffb6c1);


}

.__blank {
    width: 500px;
    height: 500px;
    top: 50%;
    border-radius: 50px;
}

.showcase {
    width: 100%;
}

.showcase img {
    width: 100%;
}

.showcase p {
    text-align: center;
    font-family: 'Roboto';
}